<nav>
  <div class="title">"Express" Your Message</div>
  <ul class="nav">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/new" class="nav-link">Send a Message</a></li>
  </ul>
</nav>
